.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    animation: spinner-plncf9 1s infinite;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: var(--avocadoMain) var(--avocadoMain) #0000 #0000;
    animation: spinner-plncf9 2s infinite linear;
}

.spinner::after {
    border-color: #0000 #0000 #dbdcef #dbdcef;
    animation-direction: reverse;
}

@keyframes spinner-plncf9 {
    100% {
        transform: rotate(1turn);
    }
}
.loadingModal {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
