.column {
    background: var(--panel);
    border: 1px solid var(--border);
    border-radius: 18px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 300px;
    backdrop-filter: blur(6px);
}
.columnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columnTitle {
    font-weight: 500;
    color: var(--text);
    font-size: 18px;
    font-family: 'Inter Regular', sans-serif;
}
.addTask {
    margin-top: auto;
    background: transparent;
    border: 1px dashed var(--border);
    color: var(--muted);
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}
.counter {
    color: var(--muted);
    font-size: 14px;
}
.task {
    background: rgba(255,255,255,.05);
    border: 1px solid var(--border);
    border-radius: 14px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: .2s;
    cursor: pointer;
}
.task:hover {
    transform: translateY(-3px) scale(1.01);
    border-color: #5e8cff55;
    box-shadow: 0 10px 30px #5e8cff22;
}
.taskTitle {
    font-weight: 500;
    color: var(--text);
    font-size: 16px;
    font-family: 'Inter Regular', sans-serif;
}
.meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--muted);
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.high {
    color: var(--red);
    font-family: 'Inter Extra Light', sans-serif;
    font-weight: 500;
}
.medium {
    color: var(--orange);
    font-family: 'Inter Extra Light', sans-serif;
    font-weight: 500;
}
.low {
    color: var(--green);
    font-family: 'Inter Extra Light', sans-serif;
    font-weight: 500;
}